body {
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    margin-top: 70px;
}

.btn-xl {
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 10px;
}

.glyphicon-home {
    font-size: 4em;
    text-align: center;
    display: block;
}

.footer {
    margin-top: 20px;
    border-bottom: 60px solid black;
}

.footer-text {
    color: white;
    margin: 10px;
    text-align: center;
}

.main-content {
    margin-top: 70px;
}

.bucket-table {
    margin-top: 15px;
}

.bucket-page {
    margin-top: 50px;
}
