{% extends 'layout.html' %}

{% block title %}
    BucketList-Items | BucketList
{% endblock %}

{% block nav %}
    <!--Start of navigation bar-->
    <nav class="nav navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navaber-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand text-muted">BUCKETLIST</a>
            </div>

            <div class="collapse navbar-collapse" id="navaber-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="">{{ user.username.upper() }}</a></li>
                    <li class="active"><a href="{{ url_for('logout') }}">logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--End of navigation bar-->
{% endblock %}

{% block body %}
    <!--Start of main content-->
    <div class="container">
        <div class="row bucket-page">

            <!--Page heading and create bucket button-->
            <div class="col-md-12">
                <h2 class="pull-left"><strong>{{ bucket.name }}</strong> Bucket items</h2>
                <a class="btn btn-primary btn-xl pull-right" type="button" data-toggle="modal"
                   data-target="#add-item-modal">Add Item</a>
            </div>
            <!--End of Page heading and create bucket button-->
        </div>

        {% if bucket %}
            <!--Start of Dummy Buckets List Table-->
            <div class="table-condensed">
                <table class="table table-hover bucket-table">
                    <tr>
                        <th>Item</th>
                        <th>Description</th>
                        <th>Deadline</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tbody>
                    {% for key, item in bucket.items.items() %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td><p>{{ item.description }}n</p></td>
                            <td><p>{{ item.deadline }}</p></td>
                            <td><a href="{{ url_for('edititem', bucket_id=bucket.id, item_id=item.id) }}"><i
                                    class="glyphicon glyphicon-edit"></i></a></td>
                            <td><a href="{{ url_for('deleteitem', bucket_id= bucket.id, item_id=item.id) }}"><i
                                    class="glyphicon glyphicon-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!--End of Dummy Buckets List Table-->
            </div>

        {% else %}
            <div>
                <p class="text-center main-content">You do not have any items yet. Please click the
                    <strong>Add Item</strong>
                    button to add items
                </p>
            </div>
        {% endif %}

        <!--Start of modal to create a bucket-->
        <div class="modal fade" tabindex="-1" role="dialog" id="add-item-modal">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Item to Bucket</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">

                                <!--Start of form for adding an item to a bucket-->
                                <form action="{{ url_for('bucketitems', bucket_id = bucket.id) }}"
                                      class="form-horizontal"
                                      method="post">

                                    <!--Start of item name field-->
                                    <div class="form-group">
                                        <div class="col-md-12 ">
                                            <input type="text" class="form-control" placeholder="Item Name" name="name"
                                                   required>
                                        </div>
                                    </div>
                                    <!--End of item name field-->

                                    <!--Start of deadline form field-->
                                    <div class="form-group">
                                        <div class="col-md-12 ">
                                            <input type="date" class="form-control" name="deadline" required>
                                        </div>
                                    </div>
                                    <!--End of deadline form field-->

                                    <!--Start of item description-->
                                    <div class="form-group">
                                        <div class="col-md-12 ">
                                        <textarea class="form-control" placeholder="Item description"
                                                  name="description" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <!--End of item description-->

                                    <!--Start of modal submit button-->
                                    <div class="modal-footer">
                                        <div class="col-md-7 col-md-offset-2">
                                            <input type="submit" class="btn btn-primary" value="Add Item">
                                        </div>
                                    </div>
                                    <!--End of modal submit button-->

                                </form>
                                <!--End of form for adding an item to a bucket-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of modal to create a bucket-->
    </div>
    <!--End of main content-->
{% endblock %}
