<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

{% block nav %} {% endblock %}

{% block body %} {% endblock %}

<!--Start of footer-->
<footer class="nav navbar-inverse navbar-fixed-bottom">
    <p class="pull-left footer-text">&copy; BucketList Inc All rights reserved</p>
    <p class="pull-right footer-text"><a class="footer-text" href="https://github.com/jokamjohn">John Kagga</a> - 2017
    </p>
</footer>
<!--End of footer-->

<!--Linked scripts-->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!--End of linked scripts-->

</body>
</html>




