{% extends 'layout.html' %}

{% block title %}
    Login | BucketList
{% endblock %}

{% block nav %}
    <!--Start of navigation bar-->
    <nav class="nav navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navaber-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ url_for('index') }}" class="navbar-brand text-muted">BUCKETLIST</a>
            </div>

            <div class="collapse navbar-collapse" id="navaber-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for("index") }}">Home</a></li>
                    <li class="active"><a href="{{ url_for("login") }}">Login</a></li>
                    <li><a href="{{ url_for("signup") }}">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--End of navigation bar-->
{% endblock %}

{% block body %}
    <!--Start of main content-->
    <div class="container main-content">

    <!--Display flash message-->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                <strong>Success!</strong> {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <!--Start of Panel holding the login form-->
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default main-content">
                    <div class="panel-body">
                        <div class="panel-heading">Login</div>

                        <!--Start of login form-->
                        <form action="{{ url_for('login') }}" class="form-horizontal" method="post">

                            <!--Start of user username field-->
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <input type="text" class="form-control" placeholder="Username" name="username"
                                           required>
                                </div>
                            </div>
                            <!--End user username field-->

                            <!--Start of user password field-->
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <input type="password" class="form-control" placeholder="Password" name="password"
                                           required>
                                </div>
                            </div>
                            <!--End of user password field-->

                            <div>
                                {% if  error %}
                                    <p class="text-center text-danger">{{ error }}</p>
                                {% endif %}
                            </div>

                            <!--Start of submit button -->
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-5">
                                    <input type="submit" value="Login" class="btn btn-primary">
                                </div>
                            </div>
                            <!--End of submit button-->

                        </form>
                        <!--End of login form-->

                        <!--Start of link to creating an account-->
                        <div>
                            <p class="text-center">Don't have an account yet? <a href="{{ url_for("signup") }}">Sign
                                Up</a></p>
                        </div>
                        <!--End of link to creating an account-->

                    </div>
                </div>
            </div>
            <!--End of Panel holding the login form-->

        </div>
    </div>
    <!--End of main content-->
{% endblock %}
