{% extends 'layout.html' %}

{% block title %}
    Sign Up | BucketList
{% endblock %}

{% block nav %}
    <!--Start of navigation bar-->
    <nav class="nav navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navaber-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ url_for('index') }}" class="navbar-brand text-muted">BUCKETLIST</a>
            </div>

            <div class="collapse navbar-collapse" id="navaber-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li class="active"><a href="{{ url_for("signup") }}">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--End of navigation bar-->
{% endblock %}

{% block body %}
    <!--Start of main content-->
    <div class="container">
        <div class="row">

            <!--Start of Panel holding the sign up form-->
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default main-content">
                    <div class="panel-body">
                        <div class="panel-heading">Sign Up</div>

                        <!--Start of the sign up form-->
                        <form action="{{ url_for('signup') }}" class="form-horizontal" method="post">

                            <!--Start of User name field-->
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <input type="text" class="form-control" placeholder="Name" name="name" required>
                                </div>
                            </div>
                            <!--End User name field-->

                            <!--Start of User username field-->
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <input type="text" class="form-control" placeholder="Username" name="username"
                                           required>
                                </div>
                            </div>
                            <!--End of User username field-->

                            <!--Start of user password field-->
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <input type="password" class="form-control" placeholder="Password" name="password"
                                           required>
                                </div>
                            </div>
                            <!--End of user password field-->

                            <!--Start of user password confirmation field-->
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <input type="password" class="form-control" placeholder="Password Confirmation"
                                           name="password-confirmation" required>
                                </div>
                            </div>
                            <!--End of user password confirmation field-->

                            <div>
                                {% if  error %}
                                    <p class="text-center text-danger">{{ error }}</p>
                                {% endif %}
                            </div>

                            <!--Start of user submit button-->
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <input type="submit" class="btn btn-primary" value="Create account">
                                </div>
                            </div>
                            <!--End of user submit button-->

                        </form>
                        <!--End of sign up form-->

                        <!--Start of remember me checkbox-->
                        <div>
                            <p class="text-center">Already have an account? <a href="{{ url_for("login") }}">Login</a>
                            </p>
                        </div>
                        <!--End of remember me checkbox-->

                    </div>
                </div>
            </div>
            <!--End of Panel holding the sign up form-->

        </div>
    </div>
    <!--End of main content-->
{% endblock %}
